@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Lato|Roboto+Slab:700'); 
/*******NavBar*******/
nav {
    display: flex;
    font-family: 'lato', 'sans-serif';
    font-size: 12pt;
    text-transform:uppercase;
    margin-bottom: 1em;
}

nav ul {
    margin-top: 1em;
    padding: 0;
    /* padding-bottom:.5em; */
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid #bb0000; */
}

nav li {
}

nav li:hover {
}

nav a {
    text-align: center;
    width: 10%;
}

nav > ul > a.active{
    border-bottom: 1px solid;
    cursor:default;
    box-sizing: border-box;
}

nav > ul > a:hover {
	border-bottom:1px solid;
	color:#bb0000;
}

/********Core******/
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 400;
    padding: 0px;
    font-size: 14pt;
    /* background-color: #666; */
    /* color: #fff; */
}

.container {
    background: none;
    /* margin: 2% 10%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.content {
    line-height: 1.5em;
    margin: auto;
    text-align: justify;
}

h1 {
    font-weight: 700;
}

.block {
    display: flex;
    background: white;
    /* padding: 5% 10%; */
    flex-direction: column;
}

.block:hover {
}

.row {
    display: flex;
    margin: 1.5em 30%;
    /* width: 100%; */
}

.row:nth-child(even){
}

.block.ta-center {
    text-align: center;
}

.block.half {
    box-sizing: border-box;
    display: inline-flex;
    margin: 0;
    width: 50%;
}

.block.third {
    box-sizing: border-box;
    margin: auto;
    width: 32%;
    display: inline-block;
}

.vertical {
    flex-direction: column;
    align-items: center;
}

.shadow{
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
}
/*****Buttony things**********/
a {
    color: #bb0000;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.button {
    border: 2px solid;
    padding: .25em .5em;
    border-radius: 10px;
}

.button:hover {
    border: 2px solid #666;
}

#social-media-icons {
    font-size: 21pt;
    display: block;
    text-align: center;
    margin: 1em;
}

/********Home******/
#logo {
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
    width: 300px;
}

#title {
    font-size: 32pt;
    margin-top: 10px;
}

#meeting-info {
    text-align: center;
    font-size: 18pt;
}

#mailing-list {
    text-align: center;
    margin: 1em;
    font-size: 20pt;
}

/********About******/
.content-header {
    /* text-align: center; */
    margin-bottom: .5em;
    font-size: 25pt;
    font-family: 'Roboto slab', 'serif';
    font-weight: 700;
    color: #bb0000;
}

/***Events Stuff***/
.event {
    text-align: center;
    /* justify-content: flex-start; */
    height: 200px;
    min-width: 200px;
    /* margin: 10px; */
}

.event-container {
    padding: 0;
    min-width: 650px;
    max-width: 900px;
    margin: auto;
    /* justify-content: center; */
}

.events_header {
    border-bottom: 1px solid black;
    font-size: 30pt;
    font-weight: 300;
}

.event > .name {
    font-size: 24pt;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.event > .date {
    font-size: 16pt;
    font-weight: 300;
    margin: 0;
}

.year-div{
    
justify-content: center;
    
border-bottom: 1px solid;
}
/***Friends Stuff***/
.friend{
    margin: 2em auto;
    width: 800px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.name-wrapper{
    font-family: 'Roboto Slab', 'serif';
    font-weight: 700;
    display: flex;
    justify-content: center;
    font-size: 21pt;
}
.info-wrapper{display: flex;}
.info-wrapper > p{
    display:flex;
    width:80%;
    margin: 0 auto;
    text-align: justify;
}
.logo-wrapper{
	display:flex;
	width: 20%;
}

.logo > img {
    width: 100px;
    margin: auto;
}

.friend > .info {
    margin: 1em;
    width: 80%;
}

.friend > .info > .name {
    font-size: 20pt;
    font-family: 'Roboto slab', 'serif';
    font-weight: 700;
    text-align:center;
}

.friend > a:hover {
    opacity: .5;
}

/******** Contact ******/
.officer.block {
    text-align: center;
    align-content: space-between;
    height: 500px;
}

.officer > img {
    margin: auto;
    border-radius: 10px;
}
