@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Lato|Roboto+Slab:700'); 
/*******NavBar*******/
nav {
    display: flex;
    font-family: 'Cutive Mono', 'monospace';
    font-size:20pt;
    background:#666;
}

nav ul {
    margin: .5em;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav li {
}

nav li:hover {
}

nav a {
    width: 20%;
    text-align: center;
    padding: 0 2.5%;
    color: #fff;
}

nav a:hover {
	color:#fff;
}

nav li.active {
    cursor: default;
}

/********Core******/
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 400;
    padding: 0px;
    font-size: 16pt;
}

.container {
    background: none;
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    line-height: 1.5em;
    margin: auto;
}

h1 {
    font-weight: 700;
}

.block {
    display: flex;
    background: white;
    /* padding: 5% 10%; */
    flex-direction: column;
}

.block:hover {
}

.row {
    display: flex;
    margin: 2.5% 5%;
    justify-content: space-between;
}

.block.ta-center {
    text-align: center;
}

.block.half {
    box-sizing: border-box;
    display: inline-flex;
    margin: 0;
    width: 48%;
}

.block.third {
    box-sizing: border-box;
    margin: 0;
    width: 32%;
    display: inline-flex;
}

.fill {
    margin: auto;
}

.vertical {
    flex-direction: column;
}

.shadow{
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
}
/*****Buttony things**********/
a {
    color: #bb0000;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.button {
    border: 2px solid;
    padding: .25em .5em;
    border-radius: 10px;
    font-size: 25pt;
}

.button:hover {
    border: 2px solid #666;
}

#social-media-icons {
    font-size: 25pt;
    display: block;
    text-align: center;
    margin: 1em;
}

/********Home******/
#logo {
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
    width: 400px;
}

#title {
    font-size: 40pt;
    margin-top: 10px;
}

#meeting-info {
    text-align: center;
    font-size: 20pt;
}

#mailing-list {
    text-align: center;
    margin: 2em;
}

/********About******/
.content-header {
    text-align: center;
    margin-bottom: .5em;
    font-size: 25pt;
    font-family: 'Roboto slab', 'serif';
    font-weight: 700;
    color: #bb0000;
}

/***Events Stuff***/
.event {
    text-align: center;
    justify-content: space-between;
}

.events_container {
    padding: 0 25%;
}

.events_header {
    border-bottom: 1px solid black;
    font-size: 30pt;
    font-weight: 300;
}

.event .name {
    font-size: 24pt;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.event .date {
    font-size: 16pt;
    font-weight: 300;
    margin: 0;
}

/***Friends Stuff***/
.friends_container {
    margin-top: 3em;
    padding: 0 20%;
}

.friend {display: block;}

.friend .logo {
    width: 300px;
    margin: auto;
    display: flex;
}

.friend .info {
    margin: 1em;
}

.friend .name {
    font-size: 20pt;
}

.friend .desc {
    margin: 0;
}

.friend a:hover {
    opacity: .5;
}

/******** Contact ******/
.officer.block {
    text-align: center;
    align-content: space-between;
    height: 500px;
}

.officer img {
    margin: auto;
    border-radius: 10px;
}
/*** flipper ***/

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 400px;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}