/*******NavBar*******/
nav ul {
  margin: 0;
  list-style: none;
  text-align: center;
  overflow: hidden;
  padding-top: 1em;
}
nav li {
  width: 120px;
  line-height: 40px;
  height: 40px;
  float:left;
}
nav a {
  text-decoration: none;
  font-weight: 300;
  font-size: 18pt;
}
nav a.active{cursor: default;border-bottom: 1px solid;}
nav a:hover{border-bottom: 1px solid;}
 
@media screen and (max-width: 520px) {
  nav li{
    float:none;
    width:inherit;
    border-bottom: 1px solid;
  }
  nav ul{padding-left:0;}
}
/********MainPage******/
body {
	color: black;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-weight:300;
}

.title {
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	font-size: 40pt;
}

.content {
	margin-top: 2em;
	text-align: center;
	font-size:20pt;
}

.tagline {
	font-size: 22pt;
	margin:1em 1em;
}

.time {font-size: 16pt;}

h1 {font-weight: 300;}
h3{font-weight:300;}
.bold {font-weight: 300;}
b{font-weight:300;}

/*****Buttony things**********/
a {
    color: #bb0000;
    text-decoration: none;
}
a:hover {color: #666;}

.button {
   border: 2px solid #bb0000;
   padding: .25em .5em;
   border-radius: 10px;
}
.button:hover {border: 2px solid #666;}

/****** Events Stuff ******/

.event{
	font-weight: 300;
	margin-bottom: 20px;
}

.events_container{
	margin: 0px 15% 0px 15%;
}

.events_header{
	border-bottom: 1px solid black;
	font-size: -webkit-xxx-large;
	font-weight: 500;
}

.event .name{
	font-size: xx-large;
	font-weight:600;
}

.event .date{
	font-size: x-large;
	font-weight: inherit;
	margin: 0;
	margin-top:5px;
	margin-left: 20px;
}

.event .location{
	font-weight: inherit;
}

.event .desc{
	font-size: large;
	font-weight: inherit;
	margin: 0;
	margin-top:5px;
	margin-left: 20px;
}

/***Friends Stuff***/

.friends_container{
	margin-top:3em;
	padding: 0 20%;
}

.friend{
	font-size:14pt;
	margin-bottom: 1em;
	display: flex;
	align-items:center;
}

.friend .logo{
	width:100px;
	padding:1em;
}
.friend .info{margin:1em;}
.friend .name{font-size:20pt;}
.friend .desc{margin:0;}
.friend a:hover{opacity:.5;}

@media screen and (max-width: 520px) {
  .friend .logo{display:none;}
}
/* Improvements for smaller screens */

@media screen and (max-width: 1200px) { 
  .events_container{padding:0 20%}
  .friends_container{padding:0 15%}
}
@media screen and (max-width: 900px) { 
  .events_container{padding:0 15%}
  .friends_container{padding:0 10%}
}
@media screen and (max-width: 800px) { 
  .events_container{padding:0 10%}
  .friends_container{padding:0 10%}
}

/******** Contact ******/
.split{
	display: inline-block;
	margin: 2em;
}
